<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noseapp.noseapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/restaurant"
        android:label="@string/app_name"
        android:roundIcon="@drawable/restaurant"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InicioActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Menu.OpcMenuLocal" />
        <activity android:name=".Menu.RegistrarMenu" />
        <activity android:name=".Cliente.RegistrarCliente" />
        <activity android:name=".Local.RegistrarLocal" />
        <activity android:name=".Local.LocalActivity" />
        <activity android:name=".RegistarOpc" />
        <activity android:name=".LectorQR" />
        <activity android:name=".Welcome" />
        <activity android:name=".Cliente.perfil_cliente_Activity" />
        <activity android:name=".Cliente.ClienteActivity" />
        <activity android:name=".Local.GenerarQr" />
        <activity android:name=".Menu.Listar_menuActivity" />
        <activity android:name=".Local.perfil_local_Activity"></activity>
        <activity android:name=".Registros.Listar_registros_cliente"></activity>
    </application>

</manifest>